.hero-pic {
    border-radius: 50%; 
    width: 86px; 
    height: 86px; 
    object-fit: cover;
    object-position: center;
}

.hero-section {
    background-image: url(static/hero_background-pale.png);
    background-size: cover;
    background-position: center;
}

.knowledge-card {
    width: 18rem;
    max-width: 18rem;
}

#scrollspy nav{
    text-decoration: none;
}

.nav .nav-link:not(.active) {
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
}